#related {
  z-index: 15;
  position: relative;
  margin-top: 50px;
}

#nav {
  z-index: 10;
  position: relative;
  margin-bottom: -10px;
  padding-bottom: 30px;
}

#view {
  position: relative;
  z-index: 5;
  margin-top: 150px;
}

#reviews {
  z-index: 0;
  position: relative;
  margin-top: -500px;
}


